.job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.job-card {
  background:#fff;
  width: 250px;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.job-card h3 {
  margin: 0;
}

.job-card button {
  background:red;
  color:#fff;
  width:100%;
  border:none;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
}
